<h3>Login</h3>
{{#if errors.errors}}
  <div class="alert alert-danger">
    {{#each errors.errors as |errorMessage|}}
      {{errorMessage}}
    {{/each}}
  </div>
{{/if}}

{{#if submit.isRunning}}
  Loading...
{{else}}
  <div class="container">
    {{#bs-form
        model=(changeset model LoginValidation)
        onSubmit=(perform submit)
        as |form|}}
      {{form.element
        controlType="email"
        label="Email"
        placeholder="Email"
        property="identification"
        required=true}}
      {{form.element
        controlType="password"
        label="Password"
        placeholder="Password"
        property="password"
        required=true}}
      {{bs-button
        defaultText="Submit" 
        type="primary"
        buttonType="submit"}}
    {{/bs-form}}
  </div>
{{/if}}
