<h3>Login</h3>
{{#if errors.errors}}
  <div class="alert alert-danger">
    {{#each errors.errors as |errorMessage|}}
      {{errorMessage}}
    {{/each}}
  </div>
{{/if}}

{{#if submit.isRunning}}
  Loading...
{{else}}
  <form {{action (perform submit model) on='submit'}}>
   {{input type='email' id='identification' placeholder='Email' value=model.identification}}
   {{input type='password' id='password' placeholder='Password' value=model.password}}
   <button type="submit">Login</button>
  </form>
{{/if}}
