<form class='ui large form' {{action (perform submit model) on='submit'}}>
  <div class="ui piled segment">
    <h3 class="ui header">Login</h3>
    {{#if errors.errors}}
      <div class='ui negative message'>
        {{#each errors.errors as |errorMessage|}}
          {{errorMessage}}
        {{/each}}
      </div>
    {{/if}}
    <div class="ui inverted dimmer {{if submit.isRunning 'active'}}">
      <div class="ui text loader">Loading</div>
    </div>
    <div class='ui fluid large field'>
      <label>
        Email
      </label>
      {{input type='email'
          id='identification'
          placeholder='Email'
          value=model.identification}}
    </div>
    <div class='ui fluid large field'>
      <label>
        Password
      </label>
      {{input type='password'
          id='password'
          placeholder='Password'
          value=model.password}}
    </div>
    <button class='ui fluid large submit button' type='submit'>Login</button>
  </div>
</form>
