{{#if session.isAuthenticated}}
  <div class="ui large menu">
    <div class="header item">
      LordCore
    </div>
    <a class="item" href="" onClick={{action "dashboardRoute"}}>Dashboard</a>
    {{link-to 'Properties' 'properties' class="item company-properties__link"}}

    {{#if user.hasStripeAccount}}
      {{link-to 'Stripe Account' 'users.stripe-account' user class="item"}}
    {{else}}
      {{#link-to 'users.stripe-account.new' user class="item new-stripe-account__link"}}
        New Stripe Account
      {{/link-to}}
    {{/if}}

    <div class="right menu">
      <div class="item">
        {{user.email}}
      </div>
      <div class="item">
        <button class="ui button" {{action 'invalidateSession'}}>
          Logout
        </button>
      </div>
    </div>
  </div>

{{else}}
  <div class="ui large menu">
    <div class="header item">
      Lord Core
    </div>
    {{link-to 'Login' 'login' class="item"}}
  </div>
{{/if}}

<div class="ui container">
  {{outlet}}
</div>
