{{#if model.modelTask.isRunning}}
  <div class="alert alert-info">
    LOADING
  </div>
{{else}}
  <h1>
    Welcome to: {{model.modelTask.value.name}}
  </h1>
  <h2>
    You Are: {{user.email}}
  </h2>

  {{#if user.hasStripeAccount}}
    <div class="ui info message">
      You already have a stripe account!!
    </div>
  {{else}}
    {{link-to 'New Stripe Account' 'users.stripe-account.new' user}}
  {{/if}}
{{/if}}

{{log user.stripeAccount}}
